
/* THIS IS THE NAVBAR */
.navbar-default{
    background-color: #497aff;

}
.navbar .navbar-nav li > a {
    color: #ffffff !important;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.navbar-left img{
    margin-top: 25%;
}



/* THIS IS THE RIGHT CONTAINER OF THE PAGE */
/* Chat containers */
.contain {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    overflow: auto;
    
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .contain::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .contain img {
    float: left;
    max-width: 20px;
    width: 100%;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .contain img.right {
    float: right;
    margin-left: 5px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  

.btn-success {
  margin-top: 20px;
  margin-left: 25px;
}

.btn-danger {
  margin-top: 20px;
  margin-left: 5px;
}

.fa-window-minimize {
  padding-left: 180px;
}

.circle-image {
  width:64px;
  margin: 10px;
  border-radius: 450px;
  -webkit-border-radius: 450px;
  -moz-border-radius: 450px;
}

.name {
  padding: 70px;
  font-size:1.4em;
}


.tutor{
  margin-left: -20px;
}

#wrapper {
  width: 1000px;
  height: auto;
}
#left {
   width: 500px;
   height: auto;
   float: left;
}
#right {
    width: 500px;
    height: auto;
    float: left;
}

.navbar-custom { 
  background-color: #008af1 !important; 
}


.navbar-custom .navbar-brand.brand {
  color: rgb(255,255,255);
}

.align-text i{
  vertical-align: middle;  
  display:inline-block;
}

.progress-bar{
  background-color: #008af1 !important;
}

.ui.header {
  margin: 0px !important;
}
